.idea/
.DS_Store
rest/.env/
*.pyc
code/.idea/
code/target/
code/pom.xml.tag
code/pom.xml.releaseBackup
code/pom.xml.versionsBackup
code/pom.xml.next
code/release.properties
code/dependency-reduced-pom.xml
code/buildNumber.properties
code/.mvn/timing.properties
*.iml
